<form [formGroup]="studentForm" (ngSubmit)="add()">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputFirstName">FistName</label>
            <input type="text" formControlName="firstName" class="form-control" id="inputFirstName"
                placeholder="First Name">
        </div>
        <div class="form-group col-md-4">
            <label for="inputLastName">LastName</label>
            <input type="text" formControlName="lastName" class="form-control" id="inputLastName"
                placeholder="Last Name">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Email</label>
            <input type="email" formControlName="email" class="form-control" id="inputEmail4" placeholder="Email">
            <div *ngIf="formEmail.invalid">
                <div *ngIf="formEmail.errors.invalidEmail" class="alert alert-danger">
                    This email already exists.
                </div>
                <div *ngIf="formEmail.errors.required && formEmail.dirty" class="alert alert-danger">
                    Email is required
                </div>
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputAddress">Address</label>
            <input type="text" formControlName="address" class="form-control" id="inputAddress"
                placeholder="1234 Main St">
        </div>
        <div class="form-group col-md-4">
            <label for="inputDNI">Dni</label>
            <input type="text" formControlName="dni" maxlength="8" minlength="8" class="form-control" id="inputDNI"
                placeholder="DNI">
            <div *ngIf="formDni.invalid">
                <div *ngIf="formDni.errors.invalidDni" class="alert alert-danger">
                    This DNI already exists.
                </div>
                <div *ngIf="formDni.errors.required && formDni.dirty" class="alert alert-danger">
                    DNI is required.
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="exampleFormControlSelect1">Career</label>
            <select formControlName="careerId" class="form-control" id="exampleFormControlSelect1">
                <option *ngFor="let career of careers" [ngValue]="career.careerId">
                    {{career.name}}
                </option>
            </select>
        </div>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!studentForm.valid">ADD</button>

    <div *ngIf="firstName.invalid && firstName.dirty">
        <div *ngIf="firstName.errors.required">
            First Name is required
        </div>
    </div>
</form>