<div *ngIf="message.show">
    <div *ngIf="message.type === 'success'; else error">
        <app-message [type]="message.type" (hideMessageEvent)="hideMessage()">
            <strong>Listo !</strong> El usuario fue creado con exito !
        </app-message>
    </div>
    <ng-template #error>
        <app-message [type]="message.type" (hideMessageEvent)="hideMessage()">
            <strong>Error !</strong> No se pudo crear el usuario !
        </app-message>
    </ng-template>
</div>
<div class="card">
    <div class="card-header">
        Register
    </div>
    <div class="card-body">
        <form (ngSubmit)="submit()" [formGroup]="registerForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" formControlName="email">
                <span *ngIf="formEmail.invalid">
                    <div *ngIf="formEmail.errors.email" class="alert alert-danger">
                        Please, insert a valid Email, Example: johnDoe@gmail.com
                    </div>
                    <div *ngIf="formEmail.errors.invalidEmail" class="alert alert-danger">
                        This email already exists.
                    </div>
                </span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input (change)="changePassword($event)" formControlName="password" type="password" class="form-control"
                    id="exampleInputPassword1" placeholder="Password">
                <span *ngIf="formPassword.invalid">
                    <div *ngIf="formPassword.errors.minlength" class="alert alert-danger">
                        Password must contain more than four characters
                    </div>
                    <div *ngIf="formPassword.errors.required" class="alert alert-danger">
                        Password is required
                    </div>
                </span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" class="form-control" id="exampleInputPassword2"
                    placeholder="Password">
                <span *ngIf="formConfirmPassword.invalid">
                    <div *ngIf="formConfirmPassword.errors.passwordInvalid" class="alert alert-danger">
                        Password doesn't match
                    </div>
                </span>
            </div>
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>